@model ShipManagement.Models.CargoType

@{
    ViewData["Title"] = "حذف نوع کالا";
    Layout = ViewBag.Layout;
}

<h1>حذف نوع کالا</h1>

<h3>آیا از حذف این مورد اطمینان دارید؟</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="DeleteCargoType">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
        <a asp-action="CargoTypes" class="btn btn-secondary">بازگشت به لیست</a>
    </form>
</div>