@model ShipManagement.Models.CargoType

@{
    ViewData["Title"] = "ویرایش نوع کالا";
    Layout = ViewBag.Layout;
}

<h1>ویرایش نوع کالا</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCargoType">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">نام</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">توضیحات</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
                <a asp-action="CargoTypes" class="btn btn-secondary">بازگشت به لیست</a>
            </div>
        </form>
    </div>
</div>